<!DOCTYPE html>
<html lang="pt-br">

    <head>

        <title>Teste Beep</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
    </head>
    <body>

        {% load static %}
        <div url-endpoint="{% url 'api/data' %}">
             <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            <button class="brl">Real(BRL)</button>
            <button class="ars">Peso Argentino(ARS)</button>
            <button class="eur">Euro(EUR)</button>
        </div>

    <script src="{% static 'cotacao/js/main.js' %}"></script>
    </body>
</html>